<launch>

<!-- set arguments -->
<arg name="control_enabled" value="true" />
<arg name="hardware_enabled" value="true" />
<arg name="navigation_enabled" value="true" />
<arg name="sensors_enabled" value="true" />

<!-- load global parameters to parameter server -->
<rosparam command="load" file="$(find sd_bringup)/config/global.yaml" ns="/" />

<!-- if sensors are enabled then include sensor launch file -->
<group if="$(arg hardware_enabled)">
  <include file="$(find sd_bringup)/launch/hardware_interface.launch" />
</group>

<!-- if sensors are enabled then include sensor launch file -->
<group if="$(arg sensors_enabled)">
  <include file="$(find sd_bringup)/launch/sensors.launch" />
</group>

<!-- if navigation is enabled then load navigation parameters to parameter server and launch navigation node -->
<group if="$(arg navigation_enabled)">
  <rosparam command="load" file="$(find sd_navigation)/config/navigation.yaml" ns="navigation" />
  <node name="line_follower_node" pkg="sd_navigation" type="line_follower_node" ns="navigation" output="screen" />
</group>

<!-- if control is enabled then load control parameters to parameter server and launch master control node -->
<group if="$(arg control_enabled)">
  <rosparam command="load" file="$(find sd_collector_cannon)/config/collector_cannon.yaml" ns="collector_cannon" />
  <node name="control_mode_node" pkg="sd_collector_cannon" type="control_mode_node" ns="collector_cannon" output="screen" />
  <node name="firing_node" pkg="sd_collector_cannon" type="firing_node" ns="collector_cannon" output="screen" />
</group>

</launch>
