<launch>

<!-- set arguments -->
<arg name="control_enabled" value="true" />
<arg name="hardware_enabled" value="true" />
<arg name="navigation_enabled" value="true" />
<arg name="sensors_enabled" value="true" />

<!-- load global parameters to parameter server -->
<rosparam command="load" file="$(find sd_bringup)/config/global.yaml" ns="/" />

<!-- if sensors are enabled then include sensor launch file -->
<group if="$(arg hardware_enabled)">
  <include file="$(find sd_bringup)/launch/hardware_interface.launch" />
</group>

<!-- if sensors are enabled then include sensor launch file -->
<group if="$(arg sensors_enabled)">
  <include file="$(find sd_bringup)/launch/sensors.launch" />
</group>

<!-- if navigation is enabled then load navigation parameters to parameter server and launch navigation nodes -->
<group if="$(arg navigation_enabled)">
  <rosparam command="load" file="$(find sd_navigation)/config/navigation.yaml" ns="navigation" />
  <node name="line_follower_node" pkg="sd_navigation" type="line_follower_node" ns="navigation" output="screen" />
</group>

<!-- if control is enabled then load control parameters to parameter server and launch control nodes -->
<group if="$(arg control_enabled)">
  <rosparam command="load" file="$(find sd_collector_cannon)/config/control.yaml" ns="control" />
  <node name="control_mode_node" pkg="sd_collector_cannon" type="control_mode_node" ns="control" output="screen">
    <remap from="/control/conveyor_motor" to="/hardware/conveyor_motor" />
    <remap from="/control/firing_motor" to="/hardware/firing_motor" />
    <remap from="/control/line_following" to="/navigation/line_following" />
    <remap from="/control/roller_motor" to="/hardware/roller_motor" />
  </node>
  <node name="firing_node" pkg="sd_collector_cannon" type="firing_node" ns="control" output="screen">
    <remap from="/control/gate_solenoid" to="/hardware/gate_solenoid" />
  </node>
</group>

</launch>
